* { 
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  font-family: 'Roboto Slab', serif;
  
   
}

.content{
  max-width: 700px;
  margin: auto;
  background-color: #def2f1;
  border:  20px solid #def2f1;
  color: #2b7a78;
}

#draggable { 
  width: 150px; 
  height: 150px; 
  padding: 0.5em; 
  background-color: pink;
  top: 100px;
}