* { 
  margin: 0;
  padding: 0;
   
}
audio{
  width: 80px;
  height: 100px;
  opacity: 10;
}

body{
height: 100%;
background-color: #17252a; 
}
img {
  width: 40%;
  height: 60%;
}

h2{ 
 font-family: FuturaPT,sans-serif;
  position:relative;
  font-size: 18px;
}
h3{
  font-size: 18px;
  text-align: center;
  font-family: FuturaPT,sans-serif;
}
/*CONTENT*/
.content{
width: 1000px;
background-color: #3aafa9;
border: 10px solid #feffff;
 margin: auto;
/* animation: fadein  10s ease-in;
  animation-fill-mode: forwards;*/
}
/*START RAIN*/
.rain{
  opacity: 1;
  top: 0px;
}
.drop {
  position: fixed;
}
.layer1 {
  width: 2px;
  height: 10px;
  background-color: #fff;
  animation: rain 1s infinite linear;
}
.layer2 {
  width: 2px;
  height: 4px;
  background-color: #ccc;
  animation: rain .75s infinite linear;
}
.layer3 {
  width: 1px;
  height: 6px;
  background-color: #aaa;
  animation: myanim 1s infinite linear;
}
/*END RAIN*/

/*INDEXPAGE*/
.title{
    position: relative;
text-align: center;
top: 300px;
 /* animation: fadeout  15s ease-in;*/
   animation-fill-mode: forwards;
  font-size: 100px;
  font-family:FuturaPT, sans-serif ;
  color: white;
}

/*CLOUDS*/
.cloud {
   box-sizing: border-box;
  animation: float 15s ease-in-out infinite;
  animation-direction: alternate;
  
  margin-bottom: 100px;
  left: 70px;

}
.cloud2 {
   box-sizing: border-box;
   animation: float2 8s ease-in-out infinite;
  animation-direction: alternate; 
 
  top: 50px;
  left: 100px;
}
.cloud3 {
  box-sizing: border-box;
  animation: float 8s ease-in-out infinite;
  animation-direction: alternate; 
  
  margin-top: 200px;
  left: 100px;
}
.curve {
  background-color: #def2f1;
  position: absolute;
  z-index: 0;
}
.curve:hover{
  background-color: white;
  animation: rain infinite;
}
.top1{
  width: 80px;
  height: 80px;
   border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  margin-top: 200px;
  margin-left: 420px;
}
.top2 {
  width: 150px;
  height: 150px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  margin-top: 130px;
  margin-left: 450px;
}
.top3 {
  width: 160px;
  height: 140px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 50px;
  margin-top: 140px;
  margin-left: 500px;
}
.top4{
  width: 80px;
  height: 80px;
   border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-top: 200px;
  margin-left: 630px;
}
 @keyframes float {
  0% {
    transform: translateX(150px);
  }
    100%{
transform: translateX(-30px);
    }
}
 @keyframes float2 {
  0% {
    transform: translateX(150px);
  }
    100%{
transform: translateX(-400px);
    }
}
 @keyframes float3 {
  0% {
    transform: translateX(-50px);
  }
    100%{
transform: translateX(-500px);
    }
}
@keyframes rain {
  from { top: 0; }
  to   { top: 1000px; }
}
/*END CLOUDS*/

/*START SKY*/
.sky{
  height: 450px;
  background-color: #2b7a78;
  box-sizing: border-box;
}
.sky2{
  height: 200px;
  background-color: #3aafa9;
  box-sizing: border-box;
}

.road1{
  height: 50px;
  background-color: grey;
  border: 20px;
  box-sizing: border-box;
}
.road{
  height: 300px;
  background-color: #17252a;
  border: 20px;
  box-sizing: border-box;
}
/*END SKY*/
/*ANIMATION*/
@keyframes fadeout{
   0% {opacity: 1;}
   100% {opacity: 0;}
}
  @keyframes fadein {
   0% {opacity: 0;}
   100% {opacity: 1;}
 }
/*END ANIMATION*/

/*FLAGSTORE*/

.buildings{
  position: relative;
  top: 60px;
bottom: 50px;
}

/*START billboard*/
 .imgboard {
  position: relative;
  width: 20%;
  height: 40%;
 left: 750px;
  margin-top: -920px;
}
/*end board*/

/*START FRAME*/
.iframe1{
  height: 100px;
  width: 150px;
  border:  10px solid #2b7a78;
  background-color: white;
  position:relative;
  border-radius: 20px; 
top: 120px;
 left: 550px;
}
/*START CAR*/
.car{
  position: relative;
  top: 10px;
  left: 0px;
bottom: 50px;
animation: shake 0.5s infinite;
}
.car:hover {
  animation: vroom 4s ease-in-out;
}
@keyframes vroom {
  0%{left: 0px;}
  50% {left: 600px;}
  75% {left: 600px; opacity: 0;}
  100% {left: 0px; opacity: 1;}
}
@keyframes shake {
 0% {transform: translateX(0);}
  25%{transform: translateX(-2px) rotate(1deg);}
  50% {transform: translateX(3px);}
  80% {transform: translateX(2px)rotate(1deg);}
  100% {transform: translateX(0) rotate(-1deg);}
}
/*END CAR*/

/*LINKS/BUTTONS*/
.button {
  position: relative;
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  font-family: nimbus-sans, sans-serif;
  font-size: 18px; 
}
/*START FLAGS*/
.button1 {
  top: -50px;
  left: -155px;
  background-color: none; 
  color: #17252a; 
}
.button1:hover {
  background-color: #f58f7c;
  color: #def2f1;
}
/*END FLAG*/

/*START SELF PORTRAIT*/
.button2 {
  top: -245px;
  left: -170px;
  background-color: none; 
  color: #2b7a78; 
}
.button2:hover {
  background-color: #17252a;
  color: #f58f7c;
}
/*END PORTRAIT*/

/*START TYPOGRAPGY*/
.button3 {
   top: -430px;
  left: -255px;
  height: 30px;
  width: 60px;
  background-color: none; 
  color: #2b7a78; 
}
/*END TYPO*/

/*RESOURCES*/
.button4 {
   top: -165px;
  left: 35px;
 background-color: none; 
  color: #2b7a78; 
}
.button4:hover {
  background-color: #17252a;
  color: #f58f7c;
}
/*END RESOURCES*/

/*START IFRAME*/
.button5 {
  top: -610px;
  left: 0px;
  background-color: #2b7a78; 
  color: #2b7a78; 
}
.button5:hover {
  background-color: #17252a;
  color: #f58f7c;
}
/*END IFRAME*/

/*START BOARD*/
.button6 {
  top: -180px;
  left: 160px;
  background-color: #2b7a78; 
  color: #2b7a78; 
}
.butto6:hover {
  background-color: #17252a;
  color: #f58f7c;
}
/*CSS WEB POSTER*/
.button7 {
  top: -125px;
  left: -80px;
  height: 20px;
  background-color: none; 
  color: #2b7a78; 
}
.button7:hover {
  background-color: #f58f7c;
}
.button8 {
  top: -65px;
  left: -130px;
  height: 20px;
  background-color: none; 
  color: #2b7a78; 
}
.button8:hover {
  background-color: #f58f7c;
}

/*END BOARD*/

/*START FONTS ANIMATION*/
/*END FONTS ANIMATION*/

a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: #f58f7c;
}
a:hover {
  color: #def2f1;
}
/*END LINKS/BUTTONS*/


.hide {
  display: none;
}
    
.inspect:hover + .hide {
  display: block;
  
}
