* { 
  margin: 0;
  padding: 0;
   
}

body{
height: 100%;
background-color: #17252a;
  
}
img {
  width: 40%;
  height: 60%;
}
p{
  font-size: 16px;
  position:relative; 
   box-sizing: border-box;
 
}
/*CONTENT*/
.content{
max-width: 1000px;
background-color: #3aafa9;

border: 5px solid #17252a;
 margin: auto;
  /*animation: fadein  10s ease-in;*/
  /*animation-fill-mode: forwards;*/
}

/*START RAIN*/
.drop {
  position: fixed;
}
.layer1 {
  width: 2px;
  height: 10px;
  background-color: #fff;
  animation: rain 1s infinite linear;
}
.layer2 {
  width: 2px;
  height: 4px;
  background-color: #ccc;
  animation: rain .75s infinite linear;
}
.layer3 {
  width: 1px;
  height: 6px;
  background-color: #aaa;
  animation: myanim 1s infinite linear;
}
@keyframes rain {
  from { top: 0; }
  to   { top: 1000px; }
}
/*END RAIN*/

/*INDEXPAGE*/
.title{
    position: relative;
text-align: center;
top: 400px;
  animation: fadeout  7s ease-in;
  animation-fill-mode: forwards;
  font-size: 60px;
  font-family:FuturaPT, sans-serif ;
  color: white;
}

/*CLOUDS*/
.cloud {
   box-sizing: border-box;
  animation: float 7s ease-in-out infinite;
  animation-direction: alternate;
  background-color: #f58f7c;
 
}
.cloud2 {
   box-sizing: border-box;
   animation: float 13s ease-in-out infinite;
  animation-direction: alternate; 
  background-color: #f58f7c;

}
.cloud3 {
   box-sizing: border-box;
  animation: float 6s ease-in-out infinite;
  animation-direction: alternate; 
  background-color: #f58f7c;

}
.curve {
  background-color: #def2f1;
  position: absolute;
  z-index: 0;
}
.curve:hover{
  background-color: white;
  animation: rain infinite;
}
.top1{
  width: 80px;
  height: 80px;
   border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  margin-top: 200px;
  margin-left: 420px;
}
.top2 {
  width: 150px;
  height: 150px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  margin-top: 130px;
  margin-left: 450px;
}
.top3 {
  width: 160px;
  height: 140px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 50px;
  margin-top: 140px;
  margin-left: 500px;
}
.top4{
  width: 80px;
  height: 80px;
   border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-top: 200px;
  margin-left: 630px;
}
/*END CLOUDS*/


/*START SKY*/
.sky{
  height: 350px;
  background-color: #2b7a78;
  box-sizing: border-box;
}
.sky2{
  height: 10px;
  background-color: #3aafa9;
  box-sizing: border-box;
}
.road{
  height: 100px;
  background-color: grey;
  box-sizing: border-box;
}
/*END SKY*/
/*ANIMATION*/
@keyframes fadeout{
   0% {opacity: 1;}
   100% {opacity: 0;}
 
}
  @keyframes fadein {
   0% {opacity: 0;}
   100% {opacity: 1;}
 }
/* @keyframes float {
  0% {
    transform: translateX(50);
  }
    100%{
transform: translateX(-50px);
    }
}*/
/*END ANIMATION*/

/*FLAGSTORE*/

.flagstore{
  position: relative;
}

.flagtext{
position: relative;
 }

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  font-family: nimbus-sans, sans-serif;
  font-size: 18px; 

}
.button1 {
  background-color: #feffff; 
  color: #17252a; 
}
.button1:hover {
  background-color: #f58f7c;
  color: #def2f1;
}


a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: #f58f7c;
}
a:hover {
  color: #def2f1;
}

