* { 
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  font-family: 'Roboto Slab', serif;
  background-color: #17252a; 
  
}

.content{
  max-width: 700px;
  margin: auto;
  /*background-color: #def2f1;*/
  background-image: url(https://img.freepik.com/free-vector/white-crumpled-paper-background_61607-921.jpg?size=338&ext=jpg);
  border-image:  url(https://img.freepik.com/free-vector/white-crumpled-paper-background_61607-921.jpg?size=338&ext=jpg);
  color: #2b7a78;
  border: 10px solid transparent;

  box-shadow: 15px 15px 15px 0 black;
}

